{% extends 'base.html.twig' %}

{% block title %}Mur
{% endblock %}

{% block body %}
	<h1>Mur</h1>


	{% for code in codes %}*
		<div class="container">
			<div class="card text-center">
				<div class="card-header">
					{{ code.author }}
				</div>
				<div class="card-body">
					<h5 class="card-title">{{ code.Title }}</h5>
					<p class="card-text">{{ code.content|raw }}</p>
					<a href="{{ path('code_show', {'id': code.id}) }}" class="btn btn-primary">show</a>
				</div>
				<div class="card-footer text-muted">
					{{ code.createdAt ? code.createdAt|date('Y-m-d H:i:s') : '' }}
				</div>
			</div>
		</div>


	{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
	{% endfor %}
</tbody></table><a href="{{ path('code_new') }}">Create new</a>{% endblock %}
